h1,
h2,
h3,
h4 {
  color: #fff;
}
body {
  text-align: center;
  font-family: "Architects Daughter", cursive;
  background-color: lightseagreen;
}

input {
  color: #fdc200;
  background-color: white;
  font-weight: 800;
}

a.a {
  color: black;
}

ul {
  color: white;
  list-style: none;
}
